.formulario {
  display: flex;
  flex-wrap: wrap;
}

.formulario h2 {
  padding: 25px 0;
  margin: 50px 0;
  border-top: 1px solid #f5f5f5;
  border-bottom: 1px solid #f5f5f5;
  font-size: 36px;
  width: 100%;
}
